*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* ------------------------------------NAV BAR-------------------------------------- */
.navbar{
    width: 100%;
    height: 60px;
    padding: 0px;
    background-image: url(https://static.naukri.com/s/7/109/assets/images/homepagebgImage.d92f90dc.webp);
    position: fixed;
    box-shadow: 0px 0px 24px 8px black;
    z-index: 5;
    /* opacity: 0.9; */
}
.toggle{
    position: fixed;
    z-index: 20;
    font-size: 32px;
    color: rgb(255, 17, 0);
    line-height: 30px;
    cursor: pointer;
    margin-left: 1px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    padding: 5px;
    right: 24px;
    top: 9px;
    display: none;
}
.li1{
    
    float: left;
    list-style-type: none;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Rampart One', cursive;
}
.li1 a{
    color: #09c;
    font-family: Roboto,sans-serif;
    box-sizing: border-box;
    text-decoration-line: none;
    
    margin-left: 28px;
}
.li2{
    list-style-type: none;
    float: right;
    margin-top: 21px;
    margin-right: 25px;
}
.li2 a{
    color: hsl(345, 12%, 94%);
    text-decoration: solid;
    font-size: 16px;
    text-decoration-line: none;
    display: block;
}
.li2 a:hover{
    box-shadow: 0px 0px 5px 5px #c51717;
    /* background-color: rgb(235, 228, 228); */
    border-radius: 3px;
}
/* --------------------------------------------------Header--------------------------------------------- */
#banner{
    width: 100%;
    height: 100vh;
    background-image: url(bgimg.jpg);
    background-size: cover;
}
.bannertext{
    position: absolute;
    top: 44%;
    left: 34%;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #e60000;
}
#description{
    padding: 50px 0px;
}
.container{
    padding: 0px 100px;
}
.search{
    background-color: green;
    padding: 2px 4px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.search1{
    background-color: #f5cb13;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-left: 34%;
    padding: 6px 3px;
}
.hh1{
    font-size: 30px;
    line-height: 42px;
    text-align: center;
}
h4{
    text-align: center;
}
.paragraph{
    text-align: center;
}
/* -- --------------------------------------------Website Intro Start------------------------ -- */
.introimg{
    width: 50%;
    float: left;
    border-radius: 5px;
    height: 330px;
} 
.row::after{
    clear: both;
    content: "";
    display: table;
}
.h12{
    width: 50%;
    height: 42px;
    padding: 20px 50px;
    line-height: 15px;
    float: left;
}
.introli{
    float: right;
    margin-top: 141px;
    margin-right: 82px;
}
/* ----------------------------------------Services------------------------------------ */
#services{
    padding: 50px 0px;
}
.services2{
    margin: 20px 0px;
    text-align: center;
    font-size: 20px;
    

}
.services4{
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px;
    
}
.services5{
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px;
    
}
.services6{
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px;
    
}
.services7{
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px;
    
}
.serviceicons{
    text-align: center;
}
.serviceicons i{
    border: 1px solid #02892b;
    border-radius: 29%;
    font-size: 20px;
    padding: 5px;
    line-height: 77px;
    width: 76px;
    height: 73px;
    color: green;
    
}
.serviceicons i:hover{
    box-shadow: 0px 0px 5px 5px rgb(90, 79, 79);
    cursor: pointer;
}
.subheading{
    margin-top: 20px;
    font-size: 15px;
}
.detailspara{
    margin-top: 10px;
    font-size: 11px;
}
/* -------------------------------------------Contact Us Details------------------------------------ */
#services::after{
    clear: both;
    content: "";
    display: table;
}
.contactdetails{
    margin-left: 20px;
    text-align: center;
    line-height: 25px;
}
.contactdetails h1{
    margin-left: 15px;
    text-decoration: underline;
}
.col-6{
    line-height: 36px;
    text-align: center;
    margin-top: 25px;
}
.contactbox{
    width: 70%;
    border-radius: 7px;
    height: 29px;
    padding: 3px;
    margin: 3px;
    border-color: grey;
}
#message{
    width: 70%;
    border-radius: 7px;
    height: 100px;
    padding: 3px;
    margin: 3px;
}
.submit1{
    border: none;
    color: white;
    background-color: rgb(128, 0, 60);
    border-radius: 11px;
    padding: 5px 12px;
    width: 56px;
    height: 27px;
}
@media screen and (max-width:460px) {
    .navbar{
        padding: 0px 0px;
    }
    .toggle{
        display: block;
    }
    .li1{
        float: none;
    }
    .li2{
        float: none;

    }
    .leftul{
        text-align: center;
        align-self: center;
    }
    .introimg{
        float: none;
        width: 100%;
        text-align: center;
    }
    .h12{
        float: none;
        width: 100%;
        text-align: center;
    }
    .introli{
        float: none;
        width: 100%;
        text-align: center;
        margin: 350px 0px 0px 0px;
    }
    .services2{
        float: none;
        width: 100%;
        text-align: center;
    }
    .services4{
        float: none;
        width: 100%;
        text-align: center;
    }
    .services5{
        float: none;
        width: 100%;
        text-align: center;
    }
    .services6{
        float: none;
        width: 100%;
        text-align: center;
    }
    .services7{
        float: none;
        width: 100%;
        text-align: center;
    }
    .contactdetails{
        float: none;
        width: 100%;
        text-align: center;
    }
    .col-6{
        float: none;
        width: 100%;
        text-align: center;
    }
}